.nav {
  background-color: orangered;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
:global(.test) {
  background-color: blue;
}
.nav :global(.active) {
  background-color: rgb(0, 149, 255);
}
